.notfound{
  display: flex;
  align-items: center;
  justify-content: center;
  .txt{
    margin: 0 100px;
    font-size: 20px;
    letter-spacing: 2px;
    p{
      &:nth-of-type(1){
        font-size: 50px;
        color: #816797;
      }
    }
  }

  .image404{
    img{
      display: block;
      width: 70%;
      height: 100%;
    }
  }
}
