<button (click)="goToHome()" class="btn-home">Retour à la page d'accueil</button>

<p>Liste formation {{id}}</p>

<form [formGroup]="formationForm" (ngSubmit)="updateFormation()">

  <label for="reference">Référence : </label>
  <input type="text" formControlName="reference">

  <label for="intitule">Nom :</label>
  <input type="text" formControlName="intitule">

  <label for="publicConcerne">Public concerné :</label>
  <input type="text" formControlName="publicConcerne">

  <label for="description">Description :</label>
  <input type="text" formControlName="description">

  <label for="objectif">Les objectifs :</label>
  <input type="text" formControlName="objectif">

  <label for="prerequis">Les prérequis :</label>
  <input type="text" formControlName="prerequis">

  <label for="duree">La durée :</label>
  <input type="text" formControlName="duree">

  <label for="estIntra">La formation est-elle en intra ?</label>
  <input type="checkbox" value="1" formControlName="estIntra" />
  <label for="text">Oui</label>
  <input type="checkbox" value="0" formControlName="estIntra" />
  <label for="text">Non</label>

  <label for="estIntra">La formation est-elle en distanciel ?</label>
  <input type="checkbox" value="1" formControlName="estDistanciel" />
  <label for="text">Oui</label>
  <input type="checkbox" value="0" formControlName="estDistanciel" />
  <label for="text">Non</label>

  <label for="image">Lien de l'image</label>
  <input type="text" formControlName="image">

  <label for="tarif">Le tarif</label>
  <input type="text" formControlName="tarif">

  <button class="btn-modif" *ngIf="!displayLoading">Modifier</button>
  <p *ngIf="displayErrorMessage">Un problème est survenu pendant la modification.</p>
</form>
