a {
  text-decoration: none;
}

li{
  list-style-type: none;
}

.theme {
  padding: 100px 150px;
  h3{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 50px;
  }
  .theme-container{
    width: 100%;
    .sousThemeTitre{
      background-color: #816797;
      padding: 18px;
      color: #fff;
    }
    a{
      color: #1b2430;
      .formationTitre{
        transition: all .5s;
        &:hover{
          background-color: #d6d3d2;
        }
      }
    }
    .formationTitre{
      display: flex;
      padding: 18px;
      background-color: #fbf7f5;
      border-bottom: 1px solid #d6d3d2;
      .ref{
        width: 10%;
      }
      .formation{
        width: 60%;
      }
      .duree{
        width: 30%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

