<div class="titre center">
  <p>Ajouter une formation</p>
</div>

<div *ngIf="themes" class="formulaire center">

  <form [formGroup]="formationForm" (ngSubmit)="onSubmit()" class="formationForm">
    <div>
      <label>La référence :</label>
      <input type="text" formControlName="reference" />
    </div>

    <div>
      <label>L'intitulé :</label>
      <input type="text" formControlName="intitule" />
    </div>

    <div>
      <label>Quel est le public concerné ? :</label>
      <input type="text" formControlName="publicConcerne" />
    </div>

    <div>
      <label>La description :</label>
      <textarea name="" id="" cols="30" rows="10" formControlName="description"></textarea>
    </div>

    <div>
      <label>Les objectifs :</label>
      <textarea name="" id="" cols="30" rows="10" formControlName="objectif"></textarea>
    </div>

    <div>
      <label>Les prerequis :</label>
      <input type="text" formControlName="prerequis" />
    </div>

    <div>
      <label>La duree :</label>
      <input type="text" formControlName="duree" />
    </div>

    <div class="intra">
      <label>Est-elle disponible en intra ? :</label>
      <label for="text">Oui</label>
      <input type="checkbox" value="1" formControlName="estIntra" />
      <label for="text">Non</label>
      <input type="checkbox" value="0" formControlName="estIntra" />
    </div>

    <div class="distance">
      <label>Est-elle disponible en distanciel ? :</label>
      <label for="text">Oui</label>
      <input type="checkbox" value="1" formControlName="distanciel" />
      <label for="text">Non</label>
      <input type="checkbox" value="0" formControlName="distanciel" />
    </div>

  <div class="flex">

    <div class="theme">
      <label>Choisir le theme :</label>
      <select (change)="onChange($event) "name="" id="" formControlName = "themeId">
        <ng-container *ngFor="let theme of getListTheme()">
          <option [value]="theme.id" >
            {{theme.titre}}
          </option>
        </ng-container>
      </select>
    </div>

    <div *ngIf="themeId != 0" class="sousTheme">
      <label>Choisir le sous-thème :</label>
      <select name="" id="" formControlName = "sousThemeId">
        <ng-container *ngFor="let theme of getListSousTheme()">
          <option [value]="theme.id">
            {{theme.titre}}
          </option>
        </ng-container>
      </select>
    </div>
  </div>

  <div>
    <label>Lien de l'image :</label>
    <input type="text" formControlName="image">
  </div>

  <div>
    <label for="">Le tarif :</label>
    <input type="text" formControlName="tarif">
  </div>

    <div>
      <button type="submit" [disabled]="formationForm.invalid" class="send-form"> Ajouter</button>
    </div>
  </form>
</div>

<div *ngIf="formations && formations.length >= 0">
  <p>{{formations[0]?.reference}}</p>
</div>

