<div *ngIf="themes">

  <form [formGroup]="formationForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Reference :</label>
      <input type="text" formControlName="reference" />
    </div>

    <div>
      <label>Nom :</label>
      <input type="text" formControlName="intitule" />
    </div>

    <div>
      <label>publicConcerne :</label>
      <input type="text" formControlName="publicConcerne" />
    </div>

    <div>
      <label>description :</label>
      <input type="text" formControlName="description" />
    </div>

    <div>
      <label>objectif :</label>
      <input type="text" formControlName="objectif" />
    </div>

    <div>
      <label>prerequis :</label>
      <input type="text" formControlName="prerequis" />
    </div>

    <div>
      <label>duree :</label>
      <input type="text" formControlName="duree" />
    </div>

    <div>
      <label>Intra :</label>
      <input type="checkbox" value="1" formControlName="estIntra" />
      <label for="text">Oui</label>
      <input type="checkbox" value="0" formControlName="estIntra" />
      <label for="text">Non</label>
    </div>

    <div>
      <label>distanciel :</label>
      <input type="checkbox" value="1" formControlName="distanciel" />
      <label for="text">Oui</label>
      <input type="checkbox" value="0" formControlName="distanciel" />
      <label for="text">Non</label>
    </div>

    <!-- <div>
      <select name="" id="" formControlName = "themeId">
        <ng-container *ngFor="let theme of getListTheme()">
          <option [value]="theme.id" >
              {{theme.titre}}
        </option>
      </ng-container>

    </select>
  </div> -->

  <div>
    <select (change)="onChange($event) "name="" id="" formControlName = "themeId">
      <ng-container *ngFor="let theme of getListTheme()">
        <option [value]="theme.id" >
            {{theme.titre}}
      </option>
    </ng-container>

  </select>
</div>

  <div *ngIf="themeId != 0">
    <select name="" id="" formControlName = "sousThemeId">
      <ng-container *ngFor="let theme of getListSousTheme()">
          <option [value]="theme.id">
              {{theme.titre}}
        </option>
        </ng-container>
      </select>
    </div>

    <div>
      <button type="submit" [disabled]="formationForm.invalid"> Ajouter</button>
    </div>
  </form>
</div>

<div *ngIf="formations && formations.length >= 0">
  <p>{{formations[0]?.reference}}</p>
</div>

