<div class="titre">
  <h3>Dashboard</h3>
</div>

<div class="center">

  <div class="formation-container">
    <div class="container flex">

      <p>Gestion des formations</p>
      <div class="button flex">
        <button [routerLink]="['./formation/modification']" class="update btn">Modifier</button>
        <button [routerLink]="['./formation/ajout']" class="add btn">Ajouter</button>
        <button [routerLink]="['./formation/suprression']" class="supp btn">Supprimer</button>
      </div>

    </div>
  </div>

</div>
