
<div class="container ">
  <div class="center">
    <div class="domaineSelect">
      <mat-form-field appearance="fill">
        <mat-label>Choisissez un domaine</mat-label>
        <mat-select (selectionChange)="selectionnerDomaine($event.value)">
          <mat-option value="-1">Selectionner tous</mat-option>
          <mat-option *ngFor="let domaine of listeDomaine" [value]="domaine.id">{{domaine.intitule}}</mat-option>

        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <app-liste-theme [domaine] = "domaine" *ngFor="let domaine of domainesSelectionnes" >

      </app-liste-theme>

    </div>

  </div>




</div>

