<div class="header">
  <div class="container-titre">
    <div class="theme">
      <a href="">Domaine</a>
      <p>></p>
      <p>Thème</p>
      <p>></p>
      <p>Sous-thème</p>

    </div>
    <div class="titre">
      <h2>Développeur Java</h2>
      <p>
        Faites vos premiers pas dans le monde du développment Java : Créer des
        back et donner vie a vos applications !
      </p>
    </div>
    <div class="info">
      <p>A temps plein : 6 mois</p>
    </div>
    <div class="inscription">
      <a href="">S'inscrire</a>
    </div>

  </div>
  <div class="container-img">

    <img src="https://i.imgur.com/2o72hVr.jpg" alt="">
  </div>
</div>
