<div class="header">
  <div class="container-titre">
    <div class="theme">
      <a href="">Domaine</a>
      <p>></p>
      <a href="">Thème</a>
      <p>></p>
      <a href="">Sous-thème</a>

    </div>
    <div class="titre">
      <h2>Développeur Java</h2>
      <p>
        Faites vos premiers pas dans le monde du développment Java : Créer des
        back et donner vie a vos applications !
      </p>
    </div>
    <div class="info">
      <p>A temps plein : 6 mois</p>
    </div>
    <!-- <div class="inscription">
      <a href="">S'inscrire</a>
    </div> -->

  </div>
  <div class="container-img">
    <img src="https://i.imgur.com/2o72hVr.jpg" alt="">
  </div>
</div>

<div class="objectif forme">
  <h3>Les objectifs</h3>
  <div class="container-objectif">
    <div class="ligne1">
      <p>• Lorem ipsum dolor sit amet consectetur</p>
      <p>• Lorem ipsum dolor sit amet consectetur</p>
    </div>
    <div class="ligne2">
      <p>• Lorem ipsum dolor sit amet consectetur</p>
      <p>• Lorem ipsum dolor sit amet consectetur</p>
    </div>
  </div>
</div>

<div class="public forme">
  <h3>Le public concerné</h3>
  <div class="container-public">

    <div class="information-public">
      <p>• Développeur</p>
      <p>• Un mec random</p>
      <p>• Les infos de la bdd</p>
    </div>

    <div class="image-public">
      <img src="https://i.imgur.com/JzWfwCB.gif" alt="">
    </div>

  </div>
</div>

<div class="session">
  <!-- Gérer les intras et inter -->

</div>
