a {
  text-decoration: none;
}

img {
  display: block;
}

.flex{
  display: flex;
}

.forme {
  padding: 100px 150px;
  h3 {
    color: #816797;
    font-size: 30px;
  }
}
.header {
  display: flex;
  width: 100%;
  .container-titre {
    padding: 150px 0 150px 150px;
    width: 50%;
    .theme {
      display: flex;
      align-items: center;
      font-style: italic;
      font-size: 12px;
      p {
        margin: 1px 10px 0 10px;
      }
      a {
        color: #000;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .titre {
      h2 {
        font-size: 40px;
        margin: 20px 0;
        color: #816797;
      }
    }
    .info {
      margin: 20px 0;
      p{
        &:nth-of-type(1){
          margin-right: 50px;
        }
      }
    }
    .session-programme{
      margin-top: 50px;
      width: 60%;
      text-transform: uppercase;
      align-items: center;
      .voirsession{
        font-size: 0.875rem;
        letter-spacing: 0px;
        line-height: 21px;
        font-weight: 700;
        button{
          color: #fff;
          background-color: #816797;
          padding: 15px 20px;
          border-radius: 9px;
          transition: all .5s;
          border: none;
          &:hover{
            background-color: #856b9c;
            cursor: pointer;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          }
        }
      }
      .programme{
        justify-content: flex-end;
        align-items: center;
        svg{
          margin-right: 10px;
          width: 9%;
          fill: #816797;
        }
        a{
          color: #816797;
          transition: all .5s;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
  .container-img {
    padding: 150px;
    width: 50%;
    .box{
      width: 100%;
      height: 400px;
    }
    .cover{
      object-fit: cover;
    }
  }
}

.objectif {
  margin-top: 50px;
  background-color: #fbf7f5;
  .container-objectif {
    padding: 0 50px;
    .ligne{
      width: 100%;
      justify-content: space-between;
      .icon-p {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        svg {
          width: 5%;
          margin-right: 10px;
          fill: #816797;
        }
        p {
          font-size: 16px;
          margin: 50px 0;
        }
      }
    }
  }
}

.public {
  .container-public {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .information-public {
      width: 50%;
      p {
        margin: 50px 0;
      }
    }
  }
  .image-public {
    display: flex;
    justify-content: center;
    width: 50%;
    img {
      width: 60%;
    }
  }
}

.session{
  .intra{
    text-align: center;
    font-size: 18px;
    margin: 100px 0;
    p{
      margin-bottom: 50px;
    }
    a{
      color: #fff;
      padding: 20px 50px;
      background-color: #816797;
      border-radius: 50px;
      transition: all .5s;
      &:hover{
        background-color: #664b7e;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      }
    }
  }
  .container-ville {
    .ville {
      margin: 0 auto;
      color: #fff;
      padding: 18px;
      border: none;
      text-align: left;
      font-size: 18px;
      background-color: #816797;
    }
    .list-session {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      padding: 18px;
      background-color: #fbf7f5;
      font-size: 14px;
      color: #1b2430;
      .prix-panier{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        svg{
          width: 5%;
          fill: green;
          margin: 0 0 5px 20px;
        }
      }
    }
  }
}
