<div class="container">
    <h1>Formulaire de contact</h1>
    <form action="/action_page.php">
      <label for="identite">Nom & prénom</label>
      <input type="text" id="identite" name="identite" placeholder="Votre nom et prénom">
  
      <label for="entreprise">Entreprise</label>
      <input type="text" id="entreprise" name="entreprise" placeholder="Le nom de votre société">

      <label for="objet">Objet du message</label>
      <input type="text" id="objet" name="objet" placeholder="L'objet de votre message">
  
      <label for="emailAddress">Email</label>
      <input id="emailAddress" type="email" name="email" placeholder="Votre email">
  
      <label for="message">Message</label>
      <textarea id="message" name="subject" placeholder="Votre message"></textarea>
  
      <input type="submit" value="Envoyer">
    </form>
  </div>
